/*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
	background-color: #ADD8E6;
	background-position: center;
	background-size: cover;
	position:absolute;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}

.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ADD8E6;
	border-radius: 30px;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #DEB887,#FFE4C4);
	border-radius: 30px;
	transition: .5s;
}

.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to left, #DEB887,#FFE4C4);
	border: 0;
	outline: none;
	border-radius: 30px;
}
#fir{
	left: 50px;
}
#comp{
	left: 450px;
}*/

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.hero{
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #ADD8E6;
	/*align-items: center;
	justify-content: center;*/
}
.comp{
	align-items: left;
	width: 100%;
	height: 100vh;
	justify-content: space-around;
	flex-direction: column;
}
.acc{
	align-items: center;
	width: 100%;
	height: 100vh;
	justify-content: space-around;
	display: flex;
}
.crime{
	align-items: right;
	width: 100%;
	height: 100vh;
	justify-content: space-around;
	display: flex;
}
.input-group{
	margin-bottom: 30px;
	position: relative;
}
input{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid #000;
	color: #000;
	background: transparent;;
	font-size: 15px;
	transition: 0.2s;
}
inout:focus~label{
	top: -35px;
	font-size: 14px;
}
label{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: #000;
	cursor: text;
}
button{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to left, #DEB887,#FFE4C4);
	border: 0;
	outline: none;
	border-radius: 30px;
	align-self: center;
}